# игнорировать всё по умолчанию
*

# разрешить определённые папки и файлы
!src/
!src/main/
!src/main/java/
!src/main/java/ru/
!src/main/java/ru/yandex/
!src/main/java/ru/yandex/praktikum/
!src/main/java/ru/yandex/praktikum/stellar_burgers/
!src/main/java/ru/yandex/praktikum/stellar_burgers/**/*

!src/test/
!src/test/java/
!src/test/java/ru/
!src/test/java/ru/yandex/
!src/test/java/ru/yandex/praktikum/
!src/test/java/ru/yandex/praktikum/stellar_burgers/
!src/test/java/ru/yandex/praktikum/stellar_burgers/tests/
!src/test/java/ru/yandex/praktikum/stellar_burgers/tests/**/*

!target/
!target/allure-results/
!target/allure-results/**/*

# разрешить основные файлы проекта
!pom.xml
!README.md
!.gitignore
!*.PNG
!3\ npoekt.PNG

# игнорировать .idea и другие служебные папки
.idea/
.mvn/
allure-report/
.gitignore